main {
  padding: 50px 0 100px 0;
  width: 100%;
  max-width: 360px;
  margin: auto;
  text-align: center;
}
h1 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
h2 {
  font-weight: 600;
  color: #797979;
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 30px;
}
img {
  margin-bottom: 30px;
}
